.user-card {
    max-width: 300px;
    margin: 15px auto;
    border-radius: 0;
    
    &__image {
        height: 300px;
        border-radius: 0;
    }
}

.repo-card {
    max-width: 350px;
    margin: 15px auto;
}